.header .user-block {
  width: calc(30% - 90px);
  padding-bottom: 10px;
  border-bottom: 2px solid var(--yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-info__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--gray);
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info__name {
  color: var(--gray-dark);
  margin-right: 12px;
}


@media screen and (max-width: 1200px) {
  .header .user-block {
    max-width: 375px;
    width: 40%;
  }

  .user-info__name {
    margin-right: 20px;
  }
}