.story-list {
  position: relative;
  border-radius: 10px;
}

.story-list-content {
  padding: 70px
}

.story-list .btn-slide {
  position: absolute;
  top: 50%;
}

.story-list .btn-slide__left {
  left: 40px;
}

.story-list .btn-slide__right {
  right: 40px;
}

.story-list__yellow,
.story-list__yellow .story-list-item:hover {
  background-color: var(--yellow-light-transparent);
} 
.story-list__green,
.story-list__green .story-list-item:hover {
  background-color: var(--green-light-transparent);
} 